/* General Styles */
html {
    scroll-behavior: smooth;
}

main {
    padding-top: 2em;
    animation: fadeIn 2s forwards;
}

body {
    font-family: 'Georgia', serif;
    color: #333333; 
    background-color: #E3DCCB; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 2.5em;
    width: 100%;
    position: relative; /* Ensure relative positioning for the pseudo-element */
    overflow: hidden; /* Hide any overflow from the blurred background */
    overflow-y: scroll;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') no-repeat center center fixed; 
    background-size: cover; /* Ensure the background covers the entire pseudo-element */
    filter: blur(6px);
    z-index: -1;
}

/* Header Styles */
header {
    background-color: #C4B49C;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .navbar-brand div {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #000000;
}

header .navbar {
    padding: 10px 20px;
}

header .navbar-nav .nav-item .nav-link {
    color: #000000;
    font-weight: bold;
}

#hero {
    flex: 0 0 auto; 
    position: relative;
    height: 100vh;
    background: #D4CEC1;
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-position: top;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 2s forwards;
    margin-top: 65px; /* Ensure hero section stays below header */
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(6.5px);
    z-index: -1;
}

#hero .overlay {
    width: 30%;
    height: auto;
    background: rgba(211, 204, 179, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center overlay within hero */
    z-index: 1;
}

#hero img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px; 
    width: 100%;
    padding: 20px; 
}

#testimonials-container .testimonial {
    width: 30%;
    height: auto; 
    background: #F3EEEE; 
    color: #333333; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height calculations */
}

#work .publication, #work .lecture {
    text-align: center;
    margin-bottom: 20px;
    animation: zoomIn 1s;
}

#work .publication img, #work .lecture img {
    max-width: 75%;
    border-radius: 10px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#contact,
#tributes {
    background-color: rgba(244, 241, 234, 0.8); 
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
    padding-top: -2em;
    border-top: 2px solid #c4b49c;
    width: 45%;
}

#contact-form .form-group input,
#contact-form .form-group textarea,
#tribute-form .form-group input,
#tribute-form .form-group textarea {
    background-color: #fff; /* Ensuring background remains white */
    border: 1px solid #ccc; /* Softer border */
}

#contact-form .btn-primary,
#tribute-form .btn-primary {
    background-color: #b39a84; /* Consistent with other buttons */
    border-color: #a88772; /* Slightly darker border */
}

#contact-form .btn-primary:hover,
#tribute-form .btn-primary:hover {
    background-color: #a88772; /* Darker on hover */
}

/* Footer Styles */
footer {
    background-color: #cfc2b0;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 1000;
    height: 25px;
    font-size: 0.8em;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes zoomIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

/* Additional Styles for Responsiveness */
@media (max-width: 768px) {
    header .navbar-brand div {
        display: block;
        text-align: center;
    }

    #hero {
        padding: 20px;
        text-align: center;
    }

    #hero img {
        max-width: 100%;
    }

    #testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    #testimonials-container .testimonial {
        width: 100%; /* Make testimonials full width on small screens */
        margin: 10px 0;
    }

    #contact-form {
        padding: 20px;
    }

    #contact-form .btn-primary {
        width: 100%; /* Full width button on smaller screens */
        padding: 15px;
    }
}

@media (max-width: 600px) {
    header {
        height: auto; /* Remove fixed height */
    }

    main {
        padding-top: 70px; /* Ensure main content stays below header */
    }

    #hero {
        height: auto; /* Remove fixed height */
        padding: 20px; /* Add padding */
        text-align: center; /* Center align text */
    }

    #testimonials-container .testimonial {
        width: 100%;
        margin: 10px 0; /* Full width and margin adjustments */
    }

    footer {
        height: auto;
        padding: 10px; /* Add padding to footer */
    }
}

img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}
