html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia', serif;
    color: #333333; /* Dark gray text */
    background-color: #E3DCCB; /* Fallback background color */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes full height */
    padding-bottom: 50px;
    width: 100%;
    position: relative; /* Ensure relative positioning for the pseudo-element */
    overflow: hidden; /* Hide any overflow from the blurred background */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') no-repeat center center fixed; /* Add the background image */
    background-size: cover; /* Ensure the background covers the entire pseudo-element */
    filter: blur(6px);
    z-index: -1;
}

header {
    background-color: #C4B49C; /* Beige */
    color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .navbar-brand div {
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    color: #000000;
}

header .navbar {
    padding: 10px 20px;
}

header .navbar-nav .nav-item .nav-link {
    color: #000000;
    font-weight: bold;
}

#hero {
    flex: 0 0 auto; 
    position: relative;
    height: 75vh;
    background: #D4CEC1;
    background-image: url('../images/home-bg.jpg');
    background-size: cover;
    background-position: top;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: fadeIn 2s forwards;
    margin-top: 70px; /* Ensure hero section stays below header */
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(6px);
    z-index: -1;
}

#hero .overlay {
    width: 500px; /* Adjust this value for your desired fixed width */
    height: auto;
    background: rgba(211, 204, 179, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center overlay within hero */
    z-index: 1;
}

#hero img {
    max-width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%; /* Ensure it takes full width */
    flex-grow: 1; /* Allow testimonials to grow */
}

#testimonials-container .testimonial {
    width: 30%;
    height: auto; /* Ensure the height adjusts based on content */
    background: #F3EEEE; /* Very light gray */
    color: #333333; /* Dark gray text */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s;
    box-sizing: border-box; /* Ensure padding and border are included in the width and height calculations */
}

#work .publication, #work .lecture {
    text-align: center;
    margin-bottom: 20px;
    animation: zoomIn 1s;
}

#work .publication img, #work .lecture img {
    max-width: 75%;
    border-radius: 10px;
}

#about ul {
    list-style-type: none;
    padding: 0;
}

#contact {
    background-color: #f4f1ea; /* Lighter shade for contrast */
    padding: 80px 40px;
    border-top: 2px solid #c4b49c; /* Subtle top border */
}

#contact-form {
    background: #ffffff; /* Bright white background */
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* Smoother shadow */
}

#contact-form .form-group input,
#contact-form .form-group textarea {
    background-color: #fff; /* Ensuring background remains white */
    border: 1px solid #ccc; /* Softer border */
}

#contact-form .btn-primary {
    background-color: #b39a84; /* Consistent with other buttons */
    border-color: #a88772; /* Slightly darker border */
}

#contact-form .btn-primary:hover {
    background-color: #a88772; /* Darker on hover */
}


footer {
    background-color: #cfc2b0; /* #C4B49C; */
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    left: 0;
    z-index: 1000;
    height: 25px;
    font-size: 0.8em;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes zoomIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

/* Additional Styles for Responsiveness */
@media (max-width: 768px) {
    header .navbar-brand div {
        display: block;
        text-align: center;
    }

    #hero {
        padding: 20px;
        text-align: center;
    }

    #hero img {
        max-width: 100%;
    }

    #testimonials-container .testimonial {
        width: 100%; /* Make testimonials full width on small screens */
        margin: 10px 0;
    }

    #contact-form {
        padding: 20px;
    }

    #contact-form .btn-primary {
        width: 100%; /* Full width button on smaller screens */
        padding: 15px;
    }
}
